spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:hsqldb:mem:file-upload}
    username: ${JDBC_DATABASE_USERNAME:sa}
    password: ${JDBC_DATABASE_PASSWORD:}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
server:
  tomcat:
    max-part-count: '100'
